html {
  font-family: Lato;
}
.pointer {
  cursor: pointer;
}

button {
  height: 24px;
  background: black;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #000;
}
button:active {
  background-color: #353333;
  border: 1px solid #353333;
}

input {
  border: 1px solid #000;
  border-radius: 5px;
  height: 20px;
  padding: 5px;
}
